@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(120deg, rgba(34, 34, 34, 0.966), #222b), url('../assets/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}